#### imbalanced data handling 
#### up sampling
### down sampling

In [1]:
import numpy as np
import pandas as pd

np.random.seed(120)

samples=1000
class_0_ratio=0.9

n1_class_0=int(samples*class_0_ratio)
n2_class_1=samples-n1_class_0

print(f"samplea is {samples}")
print(f'n class 0 ratio is {class_0_ratio}')
print(f'class 0 samples is {n1_class_0}')
print(f"class 1 samoles is {n2_class_1}")

samplea is 1000
n class 0 ratio is 0.9
class 0 samples is 900
class 1 samoles is 100

In [4]:
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=1, scale=2,size=n1_class_0),
    "feature2":np.random.normal(loc=0,scale=1,size=n1_class_0),
    "target":0*n1_class_0
})

In [5]:
class_1

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]

In [12]:
class_2=pd.DataFrame({
    'feature1':np.random.normal(loc=1, scale=2,size=n2_class_1),
    "feature2":np.random.normal(loc=0,scale=1,size=n2_class_1),
    "target":[1]*n2_class_1
})

In [13]:
class_2

    feature1  feature2  target
0  -0.501186  0.561152       1
1   3.987370  0.723880       1
2  -0.250674 -1.094086       1
3  -2.914320 -1.524605       1
4   0.027090 -0.091739       1
..       ...       ...     ...
95  3.587639 -0.025923       1
96  3.335225 -1.943904       1
97  2.671143  0.069523       1
98  3.516747 -0.270714       1
99 -2.942881 -1.605447       1

[100 rows x 3 columns]

In [14]:
df=pd.concat([class_1,class_2])

In [15]:
df

    feature1  feature2  target
0   1.727441 -1.387618       0
1   4.545585 -0.498738       0
2   5.326506  0.020887       0
3   3.304995  0.898046       0
4  -1.173509  0.029792       0
..       ...       ...     ...
95  3.587639 -0.025923       1
96  3.335225 -1.943904       1
97  2.671143  0.069523       1
98  3.516747 -0.270714       1
99 -2.942881 -1.605447       1

[1000 rows x 3 columns]

In [10]:
df.head()

   feature1  feature2  target
0  1.727441 -1.387618       0
1  4.545585 -0.498738       0
2  5.326506  0.020887       0
3  3.304995  0.898046       0
4 -1.173509  0.029792       0

In [16]:
df.tail()

    feature1  feature2  target
95  3.587639 -0.025923       1
96  3.335225 -1.943904       1
97  2.671143  0.069523       1
98  3.516747 -0.270714       1
99 -2.942881 -1.605447       1

In [18]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [19]:
df[df['target']==0]

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]

In [20]:
df[df['target']==1]

    feature1  feature2  target
0  -0.501186  0.561152       1
1   3.987370  0.723880       1
2  -0.250674 -1.094086       1
3  -2.914320 -1.524605       1
4   0.027090 -0.091739       1
..       ...       ...     ...
95  3.587639 -0.025923       1
96  3.335225 -1.943904       1
97  2.671143  0.069523       1
98  3.516747 -0.270714       1
99 -2.942881 -1.605447       1

[100 rows x 3 columns]

In [21]:
majority=df[df['target']==0]
minority=df[df['target']==1]

In [22]:
majority

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]

In [23]:
minority

    feature1  feature2  target
0  -0.501186  0.561152       1
1   3.987370  0.723880       1
2  -0.250674 -1.094086       1
3  -2.914320 -1.524605       1
4   0.027090 -0.091739       1
..       ...       ...     ...
95  3.587639 -0.025923       1
96  3.335225 -1.943904       1
97  2.671143  0.069523       1
98  3.516747 -0.270714       1
99 -2.942881 -1.605447       1

[100 rows x 3 columns]

In [32]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell\documents\code\myenv\lib\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.1 MB 4.8 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.1 MB 3.5 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.1 MB 3.1 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.1 MB 3.1 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/11.1 MB 2.8 MB/s eta 0:00:03
   ------------- -------------------------- 3.7/11.1 MB 2.8 MB/s eta 0:00:03
   ---------------- ----------------------- 4.5/11.1 MB 2.9 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.1 MB 2.8 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.1 MB 2.7 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.1 MB 2.7 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.1 MB 2.6 MB/s eta 0:00:02
   ------------------------ --------------- 6.8/11.1 MB 2.6 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.1 MB 2.6 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.1 MB 2.6 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/11.1 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.1 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 2.6 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
   ---------------------------------------- 0.3/43.6 MB ? eta -:--:--
    --------------------------------------- 1.0/43.6 MB 2.5 MB/s eta 0:00:17
   - -------------------------------------- 1.6/43.6 MB 2.5 MB/s eta 0:00:18
   - -------------------------------------- 1.8/43.6 MB 2.3 MB/s eta 0:00:18
   -- ------------------------------------- 2.6/43.6 MB 2.4 MB/s eta 0:00:17
   -- ------------------------------------- 3.1/43.6 MB 2.6 MB/s eta 0:00:16
   --- ------------------------------------ 3.7/43.6 MB 2.5 MB/s eta 0:00:16
   --- ------------------------------------ 4.2/43.6 MB 2.5 MB/s eta 0:00:16
   ---- ----------------------------------- 4.7/43.6 MB 2.5 MB/s eta 0:00:16
   ----- ---------------------------------- 5.5/43.6 MB 2.6 MB/s eta 0:00:15
   ----- ---------------------------------- 6.0/43.6 MB 2.6 MB/s eta 0:00:15
   ------ --------------------------------- 6.6/43.6 MB 2.6 MB/s eta 0:00:14
   ------ --------------------------------- 7.1/43.6 MB 2.5 MB/s eta 0:00:15
   ------ --------------------------------- 7.6/43.6 MB 2.6 MB/s eta 0:00:15
   ------- -------------------------------- 8.1/43.6 MB 2.5 MB/s eta 0:00:14
   ------- -------------------------------- 8.4/43.6 MB 2.5 MB/s eta 0:00:15
   -------- ------------------------------- 8.9/43.6 MB 2.5 MB/s eta 0:00:15
   -------- ------------------------------- 9.4/43.6 MB 2.5 MB/s eta 0:00:14
   --------- ------------------------------ 10.0/43.6 MB 2.4 MB/s eta 0:00:14
   --------- ------------------------------ 10.5/43.6 MB 2.5 MB/s eta 0:00:14
   --------- ------------------------------ 10.7/43.6 MB 2.5 MB/s eta 0:00:14
   ---------- ----------------------------- 11.0/43.6 MB 2.3 MB/s eta 0:00:14
   ---------- ----------------------------- 11.3/43.6 MB 2.3 MB/s eta 0:00:14
   ---------- ----------------------------- 11.5/43.6 MB 2.3 MB/s eta 0:00:15
   ---------- ----------------------------- 11.8/43.6 MB 2.2 MB/s eta 0:00:15
   ----------- ---------------------------- 12.1/43.6 MB 2.2 MB/s eta 0:00:15
   ----------- ---------------------------- 12.3/43.6 MB 2.2 MB/s eta 0:00:15
   ----------- ---------------------------- 12.6/43.6 MB 2.1 MB/s eta 0:00:15
   ----------- ---------------------------- 12.6/43.6 MB 2.1 MB/s eta 0:00:15
   ----------- ---------------------------- 12.8/43.6 MB 2.0 MB/s eta 0:00:16
   ----------- ---------------------------- 12.8/43.6 MB 2.0 MB/s eta 0:00:16
   ------------ --------------------------- 13.1/43.6 MB 1.9 MB/s eta 0:00:17
   ------------ --------------------------- 13.1/43.6 MB 1.9 MB/s eta 0:00:17
   ------------ --------------------------- 13.1/43.6 MB 1.9 MB/s eta 0:00:17
   ------------ --------------------------- 13.1/43.6 MB 1.9 MB/s eta 0:00:17
   ------------ --------------------------- 13.4/43.6 MB 1.7 MB/s eta 0:00:18
   ------------ --------------------------- 13.4/43.6 MB 1.7 MB/s eta 0:00:18
   ------------ --------------------------- 13.4/43.6 MB 1.7 MB/s eta 0:00:18
   ------------ --------------------------- 13.4/43.6 MB 1.7 MB/s eta 0:00:18
   ------------ --------------------------- 13.6/43.6 MB 1.6 MB/s eta 0:00:19
   ------------ --------------------------- 13.6/43.6 MB 1.6 MB/s eta 0:00:19
   ------------ --------------------------- 13.6/43.6 MB 1.6 MB/s eta 0:00:19
   ------------ --------------------------- 13.9/43.6 MB 1.5 MB/s eta 0:00:20
   ------------ --------------------------- 13.9/43.6 MB 1.5 MB/s eta 0:00:20
   ------------ --------------------------- 13.9/43.6 MB 1.5 MB/s eta 0:00:20
   ------------ --------------------------- 14.2/43.6 MB 1.4 MB/s eta 0:00:21
   ------------ --------------------------- 14.2/43.6 MB 1.4 MB/s eta 0:00:21
   ------------ --------------------------- 14.2/43.6 MB 1.4 MB/s eta 0:00:21
   ------------- -------------------------- 14.4/43.6 MB 1.4 MB/s eta 0:00:22
   ------------- -------------------------- 14.4/43.6 MB 1.4 MB/s eta 0:00:22
   ------------- -------------------------- 14.4/43.6 MB 1.4 MB/s eta 0:00:22
   ------------- -------------------------- 14.7/43.6 MB 1.3 MB/s eta 0:00:23
   ------------- -------------------------- 14.7/43.6 MB 1.3 MB/s eta 0:00:23
   ------------- -------------------------- 14.7/43.6 MB 1.3 MB/s eta 0:00:23
   ------------- -------------------------- 14.9/43.6 MB 1.3 MB/s eta 0:00:23
   ------------- -------------------------- 14.9/43.6 MB 1.3 MB/s eta 0:00:23
   ------------- -------------------------- 15.2/43.6 MB 1.2 MB/s eta 0:00:23
   -------------- ------------------------- 15.5/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 15.5/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 15.5/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 15.7/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 15.7/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 15.7/43.6 MB 1.2 MB/s eta 0:00:24
   -------------- ------------------------- 16.0/43.6 MB 1.2 MB/s eta 0:00:25
   -------------- ------------------------- 16.0/43.6 MB 1.2 MB/s eta 0:00:25
   -------------- ------------------------- 16.0/43.6 MB 1.2 MB/s eta 0:00:25
   -------------- ------------------------- 16.3/43.6 MB 1.1 MB/s eta 0:00:25
   -------------- ------------------------- 16.3/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 16.5/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 16.8/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 16.8/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 17.0/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 17.0/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 17.3/43.6 MB 1.1 MB/s eta 0:00:25
   --------------- ------------------------ 17.3/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 17.6/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 17.8/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 17.8/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 18.1/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 18.4/43.6 MB 1.1 MB/s eta 0:00:25
   ---------------- ----------------------- 18.4/43.6 MB 1.1 MB/s eta 0:00:25
   ----------------- ---------------------- 18.6/43.6 MB 1.0 MB/s eta 0:00:24
   ----------------- ---------------------- 18.6/43.6 MB 1.0 MB/s eta 0:00:24
   ----------------- ---------------------- 18.6/43.6 MB 1.0 MB/s eta 0:00:24
   ----------------- ---------------------- 18.9/43.6 MB 1.0 MB/s eta 0:00:25
   ----------------- ---------------------- 18.9/43.6 MB 1.0 MB/s eta 0:00:25
   ----------------- ---------------------- 19.1/43.6 MB 1.0 MB/s eta 0:00:25
   ----------------- ---------------------- 19.1/43.6 MB 1.0 MB/s eta 0:00:25
   ----------------- ---------------------- 19.4/43.6 MB 1.0 MB/s eta 0:00:25
   ----------------- ---------------------- 19.4/43.6 MB 1.0 MB/s eta 0:00:25
   ------------------ --------------------- 19.7/43.6 MB 989.3 kB/s eta 0:00:25
   ------------------ --------------------- 19.7/43.6 MB 989.3 kB/s eta 0:00:25
   ------------------ --------------------- 19.7/43.6 MB 989.3 kB/s eta 0:00:25
   ------------------ --------------------- 19.9/43.6 MB 974.7 kB/s eta 0:00:25
   ------------------ --------------------- 19.9/43.6 MB 974.7 kB/s eta 0:00:25
   ------------------ --------------------- 19.9/43.6 MB 974.7 kB/s eta 0:00:25
   ------------------ --------------------- 19.9/43.6 MB 974.7 kB/s eta 0:00:25
   ------------------ --------------------- 19.9/43.6 MB 974.7 kB/s eta 0:00:25
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.2/43.6 MB 931.4 kB/s eta 0:00:26
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.4/43.6 MB 888.5 kB/s eta 0:00:27
   ------------------ --------------------- 20.7/43.6 MB 849.8 kB/s eta 0:00:27
   ------------------ --------------------- 20.7/43.6 MB 849.8 kB/s eta 0:00:27
   ------------------ --------------------- 20.7/43.6 MB 849.8 kB/s eta 0:00:27
   ------------------ --------------------- 20.7/43.6 MB 849.8 kB/s eta 0:00:27
   ------------------- -------------------- 21.0/43.6 MB 829.4 kB/s eta 0:00:28
   ------------------- -------------------- 21.0/43.6 MB 829.4 kB/s eta 0:00:28
   ------------------- -------------------- 21.0/43.6 MB 829.4 kB/s eta 0:00:28
   ------------------- -------------------- 21.2/43.6 MB 816.9 kB/s eta 0:00:28
   ------------------- -------------------- 21.2/43.6 MB 816.9 kB/s eta 0:00:28
   ------------------- -------------------- 21.2/43.6 MB 816.9 kB/s eta 0:00:28
   ------------------- -------------------- 21.5/43.6 MB 808.9 kB/s eta 0:00:28
   ------------------- -------------------- 21.5/43.6 MB 808.9 kB/s eta 0:00:28
   ------------------- -------------------- 21.8/43.6 MB 806.4 kB/s eta 0:00:28
   ------------------- -------------------- 21.8/43.6 MB 806.4 kB/s eta 0:00:28
   -------------------- ------------------- 22.0/43.6 MB 802.1 kB/s eta 0:00:27
   -------------------- ------------------- 22.0/43.6 MB 802.1 kB/s eta 0:00:27
   -------------------- ------------------- 22.0/43.6 MB 802.1 kB/s eta 0:00:27
   -------------------- ------------------- 22.0/43.6 MB 802.1 kB/s eta 0:00:27
   -------------------- ------------------- 22.3/43.6 MB 784.2 kB/s eta 0:00:28
   -------------------- ------------------- 22.3/43.6 MB 784.2 kB/s eta 0:00:28
   -------------------- ------------------- 22.3/43.6 MB 784.2 kB/s eta 0:00:28
   -------------------- ------------------- 22.3/43.6 MB 784.2 kB/s eta 0:00:28
   -------------------- ------------------- 22.5/43.6 MB 768.8 kB/s eta 0:00:28
   -------------------- ------------------- 22.5/43.6 MB 768.8 kB/s eta 0:00:28
   -------------------- ------------------- 22.5/43.6 MB 768.8 kB/s eta 0:00:28
   -------------------- ------------------- 22.5/43.6 MB 768.8 kB/s eta 0:00:28
   -------------------- ------------------- 22.5/43.6 MB 768.8 kB/s eta 0:00:28
   -------------------- ------------------- 22.8/43.6 MB 743.9 kB/s eta 0:00:28
   -------------------- ------------------- 22.8/43.6 MB 743.9 kB/s eta 0:00:28
   -------------------- ------------------- 22.8/43.6 MB 743.9 kB/s eta 0:00:28
   -------------------- ------------------- 22.8/43.6 MB 743.9 kB/s eta 0:00:28
   --------------------- ------------------ 23.1/43.6 MB 683.7 kB/s eta 0:00:31
   --------------------- ------------------ 23.1/43.6 MB 683.7 kB/s eta 0:00:31
   --------------------- ------------------ 23.1/43.6 MB 683.7 kB/s eta 0:00:31
   --------------------- ------------------ 23.3/43.6 MB 638.9 kB/s eta 0:00:32
   --------------------- ------------------ 23.3/43.6 MB 638.9 kB/s eta 0:00:32
   --------------------- ------------------ 23.3/43.6 MB 638.9 kB/s eta 0:00:32
   --------------------- ------------------ 23.6/43.6 MB 595.1 kB/s eta 0:00:34
   --------------------- ------------------ 23.6/43.6 MB 595.1 kB/s eta 0:00:34
   --------------------- ------------------ 23.9/43.6 MB 562.2 kB/s eta 0:00:36
   --------------------- ------------------ 23.9/43.6 MB 562.2 kB/s eta 0:00:36
   ---------------------- ----------------- 24.1/43.6 MB 533.6 kB/s eta 0:00:37
   ---------------------- ----------------- 24.1/43.6 MB 533.6 kB/s eta 0:00:37
   ---------------------- ----------------- 24.1/43.6 MB 533.6 kB/s eta 0:00:37
   ---------------------- ----------------- 24.4/43.6 MB 506.8 kB/s eta 0:00:38
   ---------------------- ----------------- 24.4/43.6 MB 506.8 kB/s eta 0:00:38
   ---------------------- ----------------- 24.6/43.6 MB 480.6 kB/s eta 0:00:40
   ---------------------- ----------------- 24.9/43.6 MB 466.3 kB/s eta 0:00:41
   ---------------------- ----------------- 24.9/43.6 MB 466.3 kB/s eta 0:00:41
   ----------------------- ---------------- 25.2/43.6 MB 463.1 kB/s eta 0:00:40
   ----------------------- ---------------- 25.2/43.6 MB 463.1 kB/s eta 0:00:40
   ----------------------- ---------------- 25.4/43.6 MB 455.1 kB/s eta 0:00:40
   ----------------------- ---------------- 25.7/43.6 MB 454.4 kB/s eta 0:00:40
   ----------------------- ---------------- 26.0/43.6 MB 447.5 kB/s eta 0:00:40
   ----------------------- ---------------- 26.0/43.6 MB 447.5 kB/s eta 0:00:40
   ------------------------ --------------- 26.2/43.6 MB 449.6 kB/s eta 0:00:39
   ------------------------ --------------- 26.5/43.6 MB 455.1 kB/s eta 0:00:38
   ------------------------ --------------- 26.7/43.6 MB 457.7 kB/s eta 0:00:37
   ------------------------ --------------- 27.0/43.6 MB 463.6 kB/s eta 0:00:36
   ------------------------ --------------- 27.3/43.6 MB 471.0 kB/s eta 0:00:35
   ------------------------ --------------- 27.3/43.6 MB 471.0 kB/s eta 0:00:35
   ------------------------- -------------- 27.8/43.6 MB 482.1 kB/s eta 0:00:33
   ------------------------- -------------- 28.0/43.6 MB 493.7 kB/s eta 0:00:32
   ------------------------- -------------- 28.3/43.6 MB 498.4 kB/s eta 0:00:31
   -------------------------- ------------- 28.6/43.6 MB 503.6 kB/s eta 0:00:30
   -------------------------- ------------- 28.8/43.6 MB 508.4 kB/s eta 0:00:30
   -------------------------- ------------- 28.8/43.6 MB 508.4 kB/s eta 0:00:30
   -------------------------- ------------- 29.4/43.6 MB 522.4 kB/s eta 0:00:28
   --------------------------- ------------ 29.6/43.6 MB 527.6 kB/s eta 0:00:27
   --------------------------- ------------ 29.9/43.6 MB 533.0 kB/s eta 0:00:26
   --------------------------- ------------ 30.1/43.6 MB 543.2 kB/s eta 0:00:25
   --------------------------- ------------ 30.4/43.6 MB 549.2 kB/s eta 0:00:25
   ---------------------------- ----------- 30.9/43.6 MB 561.6 kB/s eta 0:00:23
   ---------------------------- ----------- 31.2/43.6 MB 567.5 kB/s eta 0:00:22
   ---------------------------- ----------- 31.5/43.6 MB 572.5 kB/s eta 0:00:22
   ----------------------------- ---------- 31.7/43.6 MB 578.8 kB/s eta 0:00:21
   ----------------------------- ---------- 32.0/43.6 MB 584.9 kB/s eta 0:00:20
   ----------------------------- ---------- 32.2/43.6 MB 589.8 kB/s eta 0:00:20
   ----------------------------- ---------- 32.5/43.6 MB 594.2 kB/s eta 0:00:19
   ------------------------------ --------- 33.0/43.6 MB 609.3 kB/s eta 0:00:18
   ------------------------------ --------- 33.3/43.6 MB 614.5 kB/s eta 0:00:17
   ------------------------------ --------- 33.6/43.6 MB 617.1 kB/s eta 0:00:17
   ------------------------------- -------- 33.8/43.6 MB 623.0 kB/s eta 0:00:16
   ------------------------------- -------- 34.1/43.6 MB 627.3 kB/s eta 0:00:16
   ------------------------------- -------- 34.3/43.6 MB 632.5 kB/s eta 0:00:15
   ------------------------------- -------- 34.6/43.6 MB 640.2 kB/s eta 0:00:15
   ------------------------------- -------- 34.9/43.6 MB 642.9 kB/s eta 0:00:14
   -------------------------------- ------- 35.1/43.6 MB 646.6 kB/s eta 0:00:14
   -------------------------------- ------- 35.4/43.6 MB 656.9 kB/s eta 0:00:13
   -------------------------------- ------- 35.7/43.6 MB 660.9 kB/s eta 0:00:13
   -------------------------------- ------- 35.9/43.6 MB 666.8 kB/s eta 0:00:12
   -------------------------------- ------- 35.9/43.6 MB 666.8 kB/s eta 0:00:12
   --------------------------------- ------ 36.2/43.6 MB 669.0 kB/s eta 0:00:12
   --------------------------------- ------ 36.4/43.6 MB 671.4 kB/s eta 0:00:11
   --------------------------------- ------ 36.4/43.6 MB 671.4 kB/s eta 0:00:11
   --------------------------------- ------ 36.7/43.6 MB 670.0 kB/s eta 0:00:11
   --------------------------------- ------ 36.7/43.6 MB 670.0 kB/s eta 0:00:11
   --------------------------------- ------ 37.0/43.6 MB 671.4 kB/s eta 0:00:10
   --------------------------------- ------ 37.0/43.6 MB 671.4 kB/s eta 0:00:10
   ---------------------------------- ----- 37.2/43.6 MB 669.3 kB/s eta 0:00:10
   ---------------------------------- ----- 37.2/43.6 MB 669.3 kB/s eta 0:00:10
   ---------------------------------- ----- 37.5/43.6 MB 670.4 kB/s eta 0:00:10
   ---------------------------------- ----- 37.7/43.6 MB 668.6 kB/s eta 0:00:09
   ---------------------------------- ----- 37.7/43.6 MB 668.6 kB/s eta 0:00:09
   ---------------------------------- ----- 38.0/43.6 MB 667.6 kB/s eta 0:00:09
   ----------------------------------- ---- 38.3/43.6 MB 668.3 kB/s eta 0:00:09
   ----------------------------------- ---- 38.5/43.6 MB 671.4 kB/s eta 0:00:08
   ----------------------------------- ---- 38.5/43.6 MB 671.4 kB/s eta 0:00:08
   ----------------------------------- ---- 38.8/43.6 MB 675.7 kB/s eta 0:00:08

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import sklearn
print(sklearn.__version__)

1.6.1

In [36]:
from sklearn.utils import resample
minority_sample=resample(minority,replace=True,
                         n_samples=len(majority))

In [37]:
minority_sample

    feature1  feature2  target
60  1.019378 -2.974058       1
64 -0.704839 -0.199280       1
32  2.313836  0.979749       1
30  0.529463 -0.124312       1
34  2.625579  1.361355       1
..       ...       ...     ...
84 -0.186815  1.883081       1
14  0.868242 -0.436885       1
56  3.161819  1.893711       1
48  1.237778 -1.059303       1
47  1.035813 -0.381203       1

[900 rows x 3 columns]

In [ ]:
df1=pd.concat([minority_sample,majority],)

In [42]:
df1

     feature1  feature2  target
60   1.019378 -2.974058       1
64  -0.704839 -0.199280       1
32   2.313836  0.979749       1
30   0.529463 -0.124312       1
34   2.625579  1.361355       1
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[1800 rows x 3 columns]

In [40]:
minority_sample.shape

(900, 3)

In [41]:
majority.shape

(900, 3)

In [45]:
df1["target"].value_counts()

target
1    900
0    900
Name: count, dtype: int64

### down sampleing

In [46]:
import numpy as np
import pandas as pd

np.random.seed(120)

samples=1000
class_0_ratio=0.9

n1_class_0=int(samples*class_0_ratio)
n2_class_1=samples-n1_class_0

print(f"samplea is {samples}")
print(f'n class 0 ratio is {class_0_ratio}')
print(f'class 0 samples is {n1_class_0}')
print(f"class 1 samoles is {n2_class_1}")

samplea is 1000
n class 0 ratio is 0.9
class 0 samples is 900
class 1 samoles is 100

In [50]:
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=1, scale=2,size=n1_class_0),
    "feature2":np.random.normal(loc=0,scale=1,size=n1_class_0),
    "target":[0]*n1_class_0
})

In [51]:
class_1

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]

In [52]:
class_2=pd.DataFrame({
    'feature1':np.random.normal(loc=1, scale=2,size=n2_class_1),
    "feature2":np.random.normal(loc=0,scale=1,size=n2_class_1),
    "target":[1]*n2_class_1
})

In [53]:
class_2

    feature1  feature2  target
0  -0.152864 -0.871745       1
1   1.147246 -0.458436       1
2  -0.897005  0.163369       1
3   0.643557  0.928905       1
4   5.282896  1.351198       1
..       ...       ...     ...
95  1.559202 -1.248033       1
96  1.834401  0.281630       1
97  1.907609  0.178459       1
98  2.790945  0.962385       1
99  2.245197  0.395804       1

[100 rows x 3 columns]

In [54]:
df=pd.concat([class_1,class_2])

In [55]:
df

    feature1  feature2  target
0   1.727441 -1.387618       0
1   4.545585 -0.498738       0
2   5.326506  0.020887       0
3   3.304995  0.898046       0
4  -1.173509  0.029792       0
..       ...       ...     ...
95  1.559202 -1.248033       1
96  1.834401  0.281630       1
97  1.907609  0.178459       1
98  2.790945  0.962385       1
99  2.245197  0.395804       1

[1000 rows x 3 columns]

In [56]:
df.head()

   feature1  feature2  target
0  1.727441 -1.387618       0
1  4.545585 -0.498738       0
2  5.326506  0.020887       0
3  3.304995  0.898046       0
4 -1.173509  0.029792       0

In [57]:
df.tail()

    feature1  feature2  target
95  1.559202 -1.248033       1
96  1.834401  0.281630       1
97  1.907609  0.178459       1
98  2.790945  0.962385       1
99  2.245197  0.395804       1

In [58]:
majority=df[df['target']==0]
minority=df[df['target']==1]

In [59]:
majority

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]

In [60]:
minority

    feature1  feature2  target
0  -0.152864 -0.871745       1
1   1.147246 -0.458436       1
2  -0.897005  0.163369       1
3   0.643557  0.928905       1
4   5.282896  1.351198       1
..       ...       ...     ...
95  1.559202 -1.248033       1
96  1.834401  0.281630       1
97  1.907609  0.178459       1
98  2.790945  0.962385       1
99  2.245197  0.395804       1

[100 rows x 3 columns]

In [61]:
majority_downsample=resample(majority,replace=True,n_samples=len(minority))

In [62]:
majority_downsample

     feature1  feature2  target
448 -0.106337  0.522587       0
287 -0.939818  1.216013       0
672 -0.212276 -1.516620       0
347 -1.718300 -0.888812       0
375 -0.525092  0.385130       0
..        ...       ...     ...
166 -0.673464 -0.300857       0
573  2.141818  1.040902       0
67   0.633246 -0.361650       0
559 -0.393610 -0.469859       0
277 -2.213937  0.605627       0

[100 rows x 3 columns]

In [63]:
df1=pd.concat([majority_downsample,minority])

In [64]:
df1

     feature1  feature2  target
448 -0.106337  0.522587       0
287 -0.939818  1.216013       0
672 -0.212276 -1.516620       0
347 -1.718300 -0.888812       0
375 -0.525092  0.385130       0
..        ...       ...     ...
95   1.559202 -1.248033       1
96   1.834401  0.281630       1
97   1.907609  0.178459       1
98   2.790945  0.962385       1
99   2.245197  0.395804       1

[200 rows x 3 columns]

In [65]:
df1.head()

     feature1  feature2  target
448 -0.106337  0.522587       0
287 -0.939818  1.216013       0
672 -0.212276 -1.516620       0
347 -1.718300 -0.888812       0
375 -0.525092  0.385130       0

In [66]:
df1.tail()

    feature1  feature2  target
95  1.559202 -1.248033       1
96  1.834401  0.281630       1
97  1.907609  0.178459       1
98  2.790945  0.962385       1
99  2.245197  0.395804       1

In [67]:
df1['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64

In [68]:
majority

     feature1  feature2  target
0    1.727441 -1.387618       0
1    4.545585 -0.498738       0
2    5.326506  0.020887       0
3    3.304995  0.898046       0
4   -1.173509  0.029792       0
..        ...       ...     ...
895  3.287078 -1.601767       0
896  2.971169 -1.716390       0
897 -1.364211 -2.177879       0
898 -1.990719 -1.285497       0
899  0.565750 -1.313021       0

[900 rows x 3 columns]